#post1{
    width: 100%;
    background-color: #1931BB;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border: none;
}
#post2{
     background-color: #0F1025;
     border-radius: 0.5rem;
}
#post3{
    color: #FFFFFF;
}