#dtable1 {
  background-color: white;
  color: #1931bb;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

#dtable2 {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#dtable3{
    display: flex;
    justify-content: flex-end;
}
#datable4{
  font-size: 2rem;
  color: #f112a5;
}
#dtable5{
  margin-top: 1rem;
}
#dtable6{
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem
}

#dtable7{
  border: none;
}