#response1{
    background-color: #0f1025;
    height: 100vh;
    padding-top: 1rem;
}
#response2{
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
}
#response_table1 {
    background-color: white;
    color: #1931bb;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
  }
  
  /* td {
    border: none;
  }
  th {
    border: none;
  }
  tr {
    border: none;
  } */
  #response_table2 {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  #response_table3{
      display: flex;
      justify-content: flex-end;
  }
  #response_table4{
    font-size: 1.7rem;
    color: #f112a5;
  }
  #response_table5{
    background-color: #1931BB;
    border: none;
  }
  #response_table6{
    display: flex;
    justify-content: flex-end;
  }
  #response_table7{
    border: none;
  }