#shoot1 {
  background-color: #0F1025;
  padding-top: 1rem;
  padding-bottom: 4.8rem;
}
#shoot2 {
  color: white;
  margin-top: 1rem;
}
#shoot3 {
  background: white;
  color: black;
  width: 100%;
  border-radius: 0.6rem;
  border: none;
  font-style: normal;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#shoot4{
  width: 98%;
  height: 91%;
}
#shoot5{
    width: 90%;
    border: none;
    background-color: #1931BB;
    margin-top: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
#shoot6{
    transform: rotate(90deg);
    height: 1.5rem;
    width: 1.5rem;
    color: #FFEC5F;
}
#shoot7 {
    display: flex;
    justify-content: center;
}
#shoot8{
    width: 90%;
    border: none;
    background-color: #F112A5;
    margin-top: 0.5rem;
    
}
#shoot9{
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 2rem

}